@import "../../styles/index.scss";

.home-inner {
  flex-direction: column;
  gap: 24px;
  padding: 80px 20px;
}

.home-h1 {
  text-align: center;
}

.home-p {
  text-align: center;
  color: $neutral-700;
}

.home-img {
  width: 100%;
  object-fit: cover;
  height: 640px;
  display: block;
}



@media (min-width: 576px) {
  .home-h1 {
    
  }
}